In [16]:
# Initial imports
## More imports may be required. 
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [18]:
#list of companies defined that that we wish to fetch stock data from. 
stocks = ["AAPL", "GOOGL", "AMZN" "TSLA"]

In [29]:
data = yf.download("AAPL", start="2020-01-01", end="2021-04-30")

[*********************100%***********************]  1 of 1 completed

In [30]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-12-31  72.482498  73.419998  72.379997  73.412498  72.245934  100805600
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.894325  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  73.175926  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.759010  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  73.412117  108872000